doctype 5
html(lang='es')
	head
		title = 'Mi Primera Aplicacion de Node Js By Daniel Villanueva'
		meta(charset='utf-8')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
		script(src='js/jquery.event.drag-2.0.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/script.js')
		link(rel='stylesheet', href='css/style.css')
	body
		article

		