doctype 5
html(lang='es')
	head
		title #{title} - My Site
		meta(charset='utf-8')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
		script(src='/js/jquery.event.drag-2.0.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/script.js')
		link(rel='stylesheet', href='/css/stylesheets/style.css')
	body
		block article